<ion-content>
    <div class="form-title">
        {{'create-form.header' | translate}}
    </div>
    <form [formGroup]="createForm">
        <div class="input-item">
            <ion-label>{{'create-form.name' | translate}}</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </div>
        <div class="input-item">
            <ion-label>{{'create-form.address' | translate}}</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
        </div>
        <div class="input-item">
            <ion-label>{{'create-form.percent' | translate}}</ion-label>
            <ion-input type="number" formControlName="percent"></ion-input>
        </div>
        <div class="input-item">
            <ion-label>{{'create-form.payment_sum' | translate}}</ion-label>
            <ion-input type="number" formControlName="paymentSum"></ion-input>
        </div>
        <div class="input-item">
            <ion-label>{{'create-form.phone_number' | translate}}</ion-label>
            <ion-intl-tel-input formControlName="phoneNumber">
            </ion-intl-tel-input>
        </div>
        <div class="button-wrapper">
            <button (click)="checkPermission()">{{'create-form.send' | translate}}</button>
        </div>
    </form>
</ion-content>